@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-LightItalic.eot');
    src: url('CormorantGaramond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('CormorantGaramond-LightItalic.woff') format('woff'),
        url('CormorantGaramond-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Light.eot');
    src: url('CormorantGaramond-Light.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Light.woff2') format('woff2'),
        url('CormorantGaramond-Light.woff') format('woff'),
        url('CormorantGaramond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

